.app-cotação-moedas{
    width: 90%;
    height: auto;
    display: none;
}


.titulo-tabela, .titulo-tabela-2{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ativos-tabela{

}
  